.page {
  min-width: 320px;
  background-color: #2a2c2f;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 16px;
  font-family: "Inter", Arial, sans-serif;
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 380px) {
  .page {
    padding-top: 16px;
  }
}
