.place__paragraphs-container {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
}
@media (max-width: 719px) {
  .place__paragraphs-container {
    max-width: 90%;
    margin: 0 auto;
  }
}
