.comment__author {
  font-style: normal;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
  order: 3;
}
@media (max-width: 770px) {
  .comment__author {
    order: 2;
    margin: 0 0 24px 0;
  }
}
