.video__duration {
  margin: auto 0 0 30px;
  z-index: 2;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.8125rem;
  letter-spacing: 0.3em;
}
@media (max-width: 768px) {
  .video__duration {
    margin: auto 0 0 24px;
  }
}
@media (max-width: 320px) {
  .video__duration {
    margin: auto 0 0 16px;
  }
}
