.footer__copyright {
  align-self: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
@media (max-width: 720px) {
  .footer__copyright {
    margin: 36px 0 0 16px;
    align-self: start;
  }
}
