@import url(./__author/comment__author.css);
@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);
.comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  max-width: calc((100% - 38px) / 3);
  margin: 72px 0 0;
}
@media (max-width: 770px) {
  .comment {
    max-width: 382px;
    align-items: center;
  }
}
