.lead__subtitle {
  margin: 48px auto 0;
  max-width: 583px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
}
@media (max-width: 765px) {
  .lead__subtitle {
    margin: 15px auto 0;
    font-size: 1rem;
    line-height: 1.4rem;
    max-width: 288px;
  }
}
