.lead__caption {
  display: flex;
  margin: 16px auto 0;
  align-self: flex-start;
  max-width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 775px) {
  .lead__caption {
    max-width: 90vw;
  }
}
@media (max-width: 376px) {
  .lead__caption {
    margin: 8px auto 0;
  }
}
