.place__website {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  margin: 0 0 60px 0;
}
@media (max-width: 1024px) {
  .place__website {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 719px) {
  .place__website {
    margin: 0 auto 40px;
  }
}
@media (max-width: 380px) {
  .place__website {
    display: none;
  }
}
