.intro__title {
  margin: 0;
  max-width: 683px;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 3.7rem;
}
@media (min-width: 377px) and (max-width: 767px) {
  .intro__title {
    font-size: 7vw;
    line-height: 7.68vw;
  }
}
@media (max-width: 376px) {
  .intro__title {
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}
